<!-- Side Bar -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="/">
                    <!-- <img src="assets/images/logo.png" alt="" /> --><span>FASTENetwork</span></a></div>
            <ul>
                <li><a href="/"><i class="ti-home"></i> Home </a></li>
                <li><a href="/cadastrar-rede"><i class="ti-vector"></i> Cadastrar Nova Rede </a></li>

                <!-- Dropdown -->
                <li><a class="sidebar-sub-toggle"><i class="ti-menu-alt"></i>Redes<span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="#">Rede 1</a></li>
                        <li><a href="#">Rede 2</a></li>
                        <li><a href="#">Rede 3</a></li>
                        <li><a href="#">Rede 4</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->